.header {
  display: flex;
  background-color: #0fb9b1;
  justify-content: space-between;
  height: 4em;

}
h3 {
  margin-top: .8em;
  margin-left: 1em;
  font-family: 'Roboto';
  font-size: 24;
}
.rec-butt {
  position: relative;
  margin-top: 1.1vw;
  margin-right: 1.9vw;
  height: 2.7em;
  width: 8.3em;
  border: none;
  border-radius: 4px;
}
body {
  margin: 0px;
  background-image: url('assets/burger-friends.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.boxes {
  background-color: rgba(225, 225, 225, .9);
  width: 30em;
  height: 25em;
}
#box1{
  margin-top: 3em;
  margin-left: 8em;
  float:left;
}
.box1-header {
  position: relative;
  font-family: 'Roboto';
  font-size: 29;
  margin-left: 1.5em;
  margin-top: 2.5em;
  margin-bottom: 0;
}
.required{
  color: red;
  position: relative;
  margin-left: 23em;
  margin-top: -2.2em;


}
.radios{
  margin-top: 2.2em;
  margin-bottom:;
  margin-left: 4em;
}
.radio-label{
  font-family: 'Roboto';
  font-size: 19
}
.lets-cook-butt {
  background-color: #0fb9b1;
  margin-top: 1em;
  margin-left: 3em;
  width: 12em;
  height: 2.4em;
  border: none;
  border-radius: 4px;
  font-size: 16
}
#box2{
  margin-top: 3em;
  margin-right: 8em;
  float: right;
}
.cookpot {
  margin-top: 7em;
  margin-left: 10em;
 width: 10em;
 height: 10em;
}
/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
